<div class="col-sm-3 offset-sm-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>I am full time <em>Software Engineer</em>, employed with <a href="http://www.pb.com">Pitney Bowes</a> since the year
            2010. I have a masters degree in Computer Science and I enjoy dabbling with new technologies as a past time.</p>
    </div>
    <!- Side bar about module. -->

    <div class="sidebar-module sidebar-module-inset">
        <h4>Archives</h4>
        <ol class="list-unstyled">
            <li><a href="#">Dec 2016</a></li>
        </ol>
    </div>
    
    <div class="sidebar-module sidebar-module-inset">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled">
            <li><a href="https://github.com/samarthya/">GitHub</a></li>
            <li><a href="https://twitter.com/PahadiPandit">Twitter</a></li>
            <li><a href="https://facebook.com/samarthya">Facebook</a></li>
        </ol>
    </div>
</div>