<div class="blog-post">
    <h2 class="blog-post-title">{{$ctrl.title}}</h2>

    <p class="blog-post-meta">December 26, 2016 by <a href="#">Saurabh</a></p>

    <p>Bonjour! This is my attempt to learn the new techstack and showcase my technical expertise while I
        continue to strive for greater success.</p>
    <hr>
    <p>My parents named me <i>Saurabh</i>, and the family name that I inherited is <i>Sharma</i>. (<a
            href="https://about.me/samarthya">Saurabh Sharma</a>). As a wise man once told me - </p>
    <blockquote>
        <p>Death is the only truth, <strong>it gives purpose to life</strong>. Every second counts, make
            sure you spend it wisely.</p>
    </blockquote>
    <p>I believe in trying, and living to the maximum. Every minute spent in past about things that could
        have been done, or should have been done is disrespect to the present.</p>

    <h2>Profession</h2>

    <p>I am full time Software engineer, with more than 13 years of industry
        exposure. I am employed with <a href="http://www.pb.com">Pitney Bowes</a> as a Development
        Manager. I started off with computers in my graduation days, against my
        parents wishes who wanted me to do something in the fields of Mathematics
        or Physics; but I choose Computers. In those days it was a bit of craze
        to even know how to work on a computer, and we started off on a x86 based
        system doing PASCAL and COBOL.</p>

    <h3>Personal</h3>

    <p>I was born in the late 70's to my lovely parents who needed a younger
        child to irritate their eldest son. Which I have been dutifully doing till
        date. I am married and have a lovely daughter who never ceases to
        test my patience, with her never ending energy and mischief. Sometimes I
        wonder is it karma, considering things I have done to my elder brother</p>
            <pre><code>
                if(!irritated){
                    repeat the nuisance;
                    log "Karma always pays a visit"
                }
            </code></pre>
</div>