<div class="container">
  <div class="album text-muted">
    <div class="container">
      <div class="row">
        <div class="card">
          <img src="app/components/aboutme/shooting-foot.JPG" alt="Card image cap" class="img-fluid">
          <p class="card-text">Playing football</p>
        </div>
        <div class="card">
          <img src="app/components/aboutme/standing-in-sun.jpg" alt="Card image cap" class="img-fluid">
          <p class="card-text">Standing in the sun</p>
        </div>
      </div>
    </div>
  </div>
</div>